.auth-form {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: linear-gradient(25deg, #0af67150, #17b8ff50, #0af67150);
    padding: 20px 40px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.auth-form h2 {
    font-size: 24px;
}

.auth-form button, .auth-form div.inp {
    margin: 10px 0;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* filter: blur(3px); */
    /* backdrop-filter: blur(3px); */
}