.auth-form {
    width: 32%;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);

    background-image: linear-gradient(25deg, #6d83ba80, #41599760, #6d83ba80);
    padding: 20px 40px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.auth-form h2 {
    font-size: 24px;
}

.auth-form button, .auth-form div.inp {
    margin: 10px 0;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* filter: blur(3px); */
    /* backdrop-filter: blur(3px); */
}

@media screen and (max-width: 950px) {
    .bg {
        left: -40%;
        width: 140%;
    }
    .auth-form {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .auth-form {
        width: 90%;
    }
}