
.event .left {
    width: calc(50% - 50px);
}

.event .right, .event .left {
    padding: 0 15px;
}

.event .left > div {
    margin-bottom: 10px;
}
.event .left > div a {
    text-decoration: none;
}

.event .left img {
    width: -webkit-fill-available;
    border-radius: 10px;
}

/* .event .right .tags label::before {
    content: '#';
} */

.event .right {
    width: 100%;
}

.event .right > div {
    margin-left: 10px;
}

.event .right .title {
    font-size: 30px;
    margin-left: -10px;
}

.event .right .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 10px;
}

.event .right .tags label, .event .left .category {
    padding: 2px 15px;
    margin: 0 5px;
    width: max-content;
    font-size: 15px;
    background-color: var(--dark-bg3);
    color: #555;
    border-radius: 15px;
    cursor: pointer;
}

.event .right .desc  h2 {
    font-size: 22px;
}

.event .right .desc p {
    margin-left: 15px;
}

.event .right .location, .event .right .schedule {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.event .right .location i, .event .right .schedule i {
    margin-right: 5px;
    color: var(--primary-background);
}

.event .right .url {
    margin-top: 10px;
}

/* Attend and countdown */

body {
    padding-bottom: 60px;
}

.attend {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 5px 50px;
    background: var(--dark-bg3);
    border-top-left-radius: 40px;
    z-index: 1000;
}

.attend::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -4px;
    width: 34px;
    height: 72px;
    transform: rotate(27deg);
    border-top-left-radius: 30px;
    background-color: var(--dark-bg3);
}

.attend .button {
    display: grid;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid var(--primary-text);
}

.attend .button span {
    font-size: 15px;
}

.attend .countdown.disabled, .attend .button span.disabled {
    color: #f00;
    text-shadow: 0 0 5px #f005;
}

.footer-section {
    margin-top: 30px;
}

/* Users who will attend */

.attend-users table, .attend-users th, .attend-users td {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

.attend-users, .attend-users table {
    width: 100%;
}

.attend-users section.table {
    margin: 10px;
    max-height: 500px;
    overflow: auto;
    border-radius: 10px;
    background-color: #eee3;
}

.attend-users section::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.attend-users section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0004;
    visibility: hidden;
}

.attend-users section:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}


.attend-users thead tr th:first-child, .attend-users tbody tr td:first-child {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
}

.attend-users thead th {
    position: sticky;
    top: 0;
    left: 0;
}

.attend-users tbody tr {
    transition: all ease-out .2s;
}
.attend-users tbody tr:nth-child(even) {
    background-color: var(--primary-bgo);
}

.attend-users tbody tr:hover {
    background-color: var(--dark-bg1);
}

.attend-users tfoot th {
    position: sticky;
    bottom: 0;
    left: 0;
}

.attend-users thead th, .attend-users tfoot th {
    background-color: var(--secondary-bgo);
    backdrop-filter: blur(10px);
}

.attend-users tr td a {
    text-decoration: none;
}