
.event .left {
    width: calc(50% - 50px);
}

.event .right, .event .left {
    padding: 0 15px;
}

.event .left > div {
    margin-bottom: 10px;
}
.event .left > div a {
    text-decoration: none;
}

.event .left img {
    width: -webkit-fill-available;
    border-radius: 10px;
}

/* .event .right .tags label::before {
    content: '#';
} */

.event .right {
    width: 100%;
}

.event .right > div {
    margin-left: 10px;
}

.event .right .title {
    font-size: 30px;
    margin-left: -10px;
}

.event .right .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 10px;
}

.event .right .tags label, .event .left .category {
    padding: 2px 15px;
    margin: 0 5px;
    width: max-content;
    font-size: 15px;
    background-color: var(--dark-bg3);
    color: #555;
    border-radius: 15px;
    cursor: pointer;
}

.event .right .desc  h2 {
    font-size: 22px;
}

.event .right .desc p {
    margin-left: 15px;
}

.event .right .location, .event .right .schedule {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.event .right .location i, .event .right .schedule i {
    margin-right: 5px;
    color: var(--primary-background);
}

.event .right .url {
    margin-top: 10px;
}

/* Attend and countdown */

body {
    padding-bottom: 60px;
}

.attend {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 5px 50px;
    /* background: var(--dark-bg3); */
    background: var(--dark-bg3);
    border-top-left-radius: 40px;
}

.attend::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -4px;
    width: 34px;
    height: 72px;
    transform: rotate(27deg);
    border-top-left-radius: 30px;
    background-color: var(--dark-bg3);
}

.attend .button {
    display: grid;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid var(--primary-text);
}

.attend .button span {
    font-size: 15px;
}

.attend .countdown.disabled, .attend .button span.disabled {
    color: #f00;
    text-shadow: 0 0 5px #f005;
}