:root {
    --primary-background: #f50;
    --secondary-background: #07d;

    --primary-background-disable: #b54b17;
    --secondary-background-disable: #0056a2;

    --bg: #fff;

    --primary-bgo: #eee5;
    --secondary-bgo: #1113;

    --primary-text: #000;
    --secondary-text: #fff;

    --dark-bg1: #eee;
    --dark-bg2: #ccc;
    --dark-bg3: #ddd;

    --danger-color: #f00;
    --success-color: #0f1;
}

* {
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary-text);
}

.fullWidth {
    width: 100% !important;
}

.round {
    border-radius: 30px !important;
}

.danger-color { color: var(--danger-color); }

.success-color { color: var(--success-color); }

.danger-bg { background-color: var(--danger-color); }

.success-bg { background-color: var(--success-color); }

.danger-color-hover:hover { color: var(--danger-color); }

.success-color-hover:hover { color: var(--success-color); }

.danger-bg-hover:hover { background-color: var(--danger-color); }

.success-bg-hover:hover { background-color: var(--success-color); }

.without-bg {
    background-color: transparent !important;
}

.btn {
    padding: 5px 30px;
    background: var(--primary-background);
    border: 2px solid var(--primary-background);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: transparent;   
}

.btn:disabled {
    background: var(--primary-background-disable);
    border: 2px solid var(--primary-background-disable);
    color: var(--secondary-bgo);
    cursor: no-drop;
}

.circle-button {
    position: relative;
    width: 33px;
    height: 33px;
    text-align: center;
    outline: none;
    border-radius: 50%;
    padding: 5px 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.circle-button:hover {
    background-color: var(--secondary-bgo);
}

.circle-button span.background {
    background-color: #aaa9;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: .4s;
}

.circle-button:active span.background {
    width: 100%;
    height: 100%;
}

.inp {
    position: relative;
    width: fit-content;
    padding-top: 15px;
}


.inp input, .inp textarea {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #5555;
    outline: none;
    width: 100%;
    transition: .3s;
    resize: none;
}

.inp input:disabled {
    background-color: var(--dark-bg3) !important;
    color: var(--secondary-bgo);
    cursor: no-drop;
}

.inp:hover input, .inp input:focus, .inp:hover textarea, .inp textarea:focus {
    border-color: #000;
}

.inp label {
    position: absolute;
    top: 35px;
    left: 20px;
    transform: translateY(-50%);
    transition: .2s;
}

.inp .icon, .inp .icon-btn {
    position: absolute;
    top: calc(50% - 4px);
    color: var(--secondary-bgo);
}

.inp .icon {
    left: 10px;
}

.inp .icon-btn {
    right: 10px;
    transition: all .3s;
    cursor: pointer;
}

.inp .icon-btn:hover {
    color: var(--secondary-background);
}

.inp.loading {
    overflow: hidden;
    border-radius: 20px;
}
.inp.loading::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--secondary-background);
    animation: loading-line 2s infinite;
}

.inp input:focus + label, .inp textarea:focus + label, .selected label{
    font-size: 14px;
    top: 2px;
    left: 10px !important;
} 

.inp.fill input, .inp.fill textarea {
    border: none;
    background-color: var(--dark-bg3);
}

.inp.fill:hover input, .inp.fill:hover textarea, .inp.fill input:focus, .inp.fill textarea:focus {
    background-color: var(--dark-bg2);

}

/* Message box */

.back-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: .4s;
    z-index: 1000;
}

.back-box.blur {
    backdrop-filter: blur(5px);
    background-color: #2224;
}

.msg {
    position: fixed;
    background-color: #eee;
    border-radius: 10px;
    top: calc(50% + 10px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    opacity: 0;
    transition: .5s;
    z-index: 1001;
}

.msg.start {
    top: 50%;
    opacity: 100%;
    box-shadow: 20px 20px 30px #3337;
}

.msg div.content {
    margin: 10px 20px;
}
.msg .header {
    border-bottom: 1px solid #000;
    padding: 10px 15px;
    font-size: 23px;
    font-weight: bold;
}

.msg .footer {
    text-align: right;
}

.msg .footer button {
    margin: 10px;
}

.sm {
    max-width: 340px;
    width: 30%;
}

.md {
    max-width: 550px;
    width: 50%;
}

.lg {
    max-width: 1000px;
    width: 80%;
}

.xl {
    max-width: 1500px;
    width: 95%;
}

.hidden {
    display: none;
}

/* Columns */

.c1, .c2 {
    padding-top: 10px;
}

.c2 {
    display: flex;
}

.c2 > div:first-child {
    margin-right: 10px;
}

.loading {
    position: relative;
    color: transparent !important;
}

.loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--secondary-bgo);
    animation: loading-spinner-small 2s ease infinite;
}

.loading.black::before {
    border-top-color: var(--primary-text) !important;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    object-fit: cover;
}

/* Drop zone */

.drop-zone {
    --img-hight: 252px;
    display: grid;
    align-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: var(--img-hight);
    background-color: var(--dark-bg3);
    border-radius: 10px;
    margin-top: 15px;
    transition: all .3s;
}

.drop-zone:hover {
    background-color: var(--dark-bg2);
}

.drop-zone img {
    width: 100%;
    height: var(--img-hight);
    object-fit: cover;
    border-radius: 10px;
}

.drop-zone label {
    position: absolute;
    top: -21px;
    left: 10px;
    font-size: 14px;
}

.drop-zone button {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* Check Items */

.check-item {
    position: relative;
}

.check-item input[type="checkbox"] {
    position: absolute;
    bottom: 15px;
    left: 5px;
}

.check-item input {
    padding-left: 30px;
}

.check-item label {
    left: 28px;
}

/* Event card */
.event-card {
    position: relative;
    width: 20%;
    min-width: 300px;
    background-color: var(--primary-bgo);
    box-shadow: 0 0 5px #0002;
    border-radius: 15px;
    overflow: hidden;
    transition: all .3s;
}

.event-card:hover {
    box-shadow: 0 0 5px #0005;
    transform: translateY(-3px);
}

.event-card .tools {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--secondary-bgo);
    background-color: var(--primary-bgo);
    border-radius: 20px;
    padding: 5px 0;
    opacity: 0;
    transition: all .3s;
}

.event-card:hover .tools {
    opacity: 100%;
}

.event-card .tools > div {
    cursor: pointer;
    transition: all .2s linear;
}

.event-card .tools div.edit {
    border-bottom: 1px solid #0003;
}
.event-card .tools div.edit:hover {
    color: var(--secondary-background);
}

.event-card .tools div.delete:hover {
    color: var(--danger-color);
}

.event-card .image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-card .image img:active {
    object-fit: contain;
}

.event-card .content {
    text-decoration: none;
}

.event-card .content > div {
    padding: 10px;
    height: 150px;
    position: relative;
}

.event-card .content > div .date {
    font-size: small;
    color: #0009;
}

.event-card .content > div .desc {
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.event-card .content > div .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    width: 100%;
    color: #0009;
    display: flex;
    justify-content: space-between;
}

/* Collection */
.collection .events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.collection .events > div {
    margin: 5px;
}

.collection .empty {
    height: 355px;
    display: block;
    text-align: center;
}

.collection .empty .title {
    font-size: 25px;
    font-weight: bold;
}

.collection .empty .empty-text {
    font-size: 15px;
    color: #0009;
}

.collection.loading .empty .empty-text {
    color: transparent;
}

.time {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    width: max-content;
    margin: auto;
    position: sticky;
    top: 65px;
    z-index: 3;
}
.time div {
    background-color: var(--dark-bg3);
    padding: 5px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.time div:hover {
    background-color: var(--dark-bg2);
}

.time div:first-child {
    border-right: 1px solid var(--secondary-bgo);
}

.time span {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--secondary-background);
    transition: .3s;
}

.time div.first.selected + span {
    left: 0;
}

.time div.last.selected + span {
    right: 0;
}
/* Animations */

@keyframes loading-spinner-small {
    0% {
        transform: rotate(0turn);
    }
    40% {
        transform: rotate(1turn);
    }
    100% {
        transform: rotate(3turn);
    }
}

@keyframes loading-line {
    0% {
        left: -100%;
    }
    22%, 25% {
        left: 0;
    }
    47%, 50% {
        left: 100%;
    }
    72%, 75% {
        left: 0;
    }
    97%, 100% {
        left: -100%;
    }
}

@media screen and (max-width: 665px) {
    .c2 {
        display: block;
        padding-top: 0;
    }

    .c2 div {
        margin-top: 10px;
    }

    .drop-zone {
        margin-top: 20px !important;
    }
}