:root {
    --primary-background: #f50;
    --secondary-background: #07d;

    --primary-bgo: #eee5;
    --secondary-bgo: #1115;

    --primary-text: #000;
    --secondary-text: #fff;

    --dark-bg1: #eee;
    --dark-bg2: #ccc;
    --dark-bg3: #ddd;
}

* {
    font-size: 18px;
    color: var(--primary-text);
    box-sizing: border-box;
}

.fullWidth {
    width: 100% !important;
}

.round {
    border-radius: 30px !important;
}

.btn {
    padding: 5px 30px;
    background: var(--primary-background);
    border: 2px solid var(--primary-background);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: transparent;   
}

.circle-button {
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 10px;
    outline: none;
    border-radius: 50%;
    padding: 5px 5px;
    border: none;
    background-color: #ccc;
    overflow: hidden;
    cursor: pointer;
}

.circle-button span.content {
    z-index: 2;
}

.circle-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-button span.background {
    background-color: #aaa9;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: .4s;
}

.circle-button:active span.background {
    width: 100%;
    height: 100%;
}

.inp {
    position: relative;
    width: fit-content;
    padding-top: 15px;
}

.inp input, .inp textarea {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #5555;
    outline: none;
    width: 100%;
    transition: .3s;
    resize: none;
}

.inp input:hover, .inp input:focus, .inp textarea:hover, .inp textarea:focus {
    border-color: #000;
}

.inp label {
    position: absolute;
    top: 35px;
    left: 20px;
    transform: translateY(-50%);
    transition: .2s;
}

.inp input:focus + label, .inp textarea:focus + label, .selected label{
    font-size: 14px;
    top: 2px;
    left: 10px;
} 

.inp.fill input, .inp.fill textarea {
    border: none;
    background-color: var(--dark-bg3);
}

.inp.fill input:hover, .inp.fill textarea:hover, .inp.fill input:focus, .inp.fill textarea:focus {
    background-color: var(--dark-bg2);

}

/* Message box */

.back-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: .4s;
    z-index: 1000;
}

.back-box.blur {
    backdrop-filter: blur(10px);
    background-color: #2224;
}

.msg {
    position: absolute;
    background-color: #eee;
    border-radius: 10px;
    top: calc(50% + 10px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    opacity: 0;
    transition: .5s;
    z-index: 1001;
}

.msg.start {
    top: 50%;
    opacity: 100%;
    box-shadow: 20px 20px 30px #3337;
}

.msg div.content {
    margin: 10px 20px;
}
.msg .header {
    border-bottom: 1px solid #000;
    padding: 10px 15px;
    font-size: 23px;
    font-weight: bold;
}

.msg .footer {
    text-align: right;
}

.msg .footer button {
    margin: 10px;
}

.sm {
    max-width: 340px;
    width: 30%;
}

.md {
    max-width: 550px;
    width: 50%;
}

.lg {
    max-width: 1000px;
    width: 80%;
}

.xl {
    max-width: 1500px;
    width: 95%;
}

.hidden {
    display: none;
}

.c1, .c2 {
    padding-top: 10px;
}

.c2 {
    display: flex;
}

.c2 > div:first-child {
    margin-right: 10px;
}

.vibration {
    animation: vib .5s ease;
}

@keyframes vib {
    0% {
        transform: translateX(-10px);
    }
    20% {
        transform: translateX(10px);
    }
    40% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}