body {
    padding-top: 80px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    background-color: #eee7;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 20px #0005;
    z-index: 5;
}

nav li, nav a, .buttons button {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}


.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--secondary-background);
    transition: all .3s ease 0s;
}

.nav-links li a:hover::before, .nav-links li.select a::before {
    width: 75%;
}


.nav-links li a {
    transition: all .3s ease 0s;
}

.nav-links li a:hover, .nav-links li.select a {
    color: var(--secondary-background);
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    margin: 0 10px;
}

header .buttons input, input.search {
    outline: none;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--dark-bg3);
    width: 150px;
    margin-left: calc(40vh - 150px);
    transition: all .3s;
}

input.search {
    margin-left: 0;
}

header .buttons input:hover, header .buttons input:focus, input.search:hover, input.search:focus {
    background-color: var(--dark-bg2);
}

header .buttons input:focus {
    width: 40vh;
    margin-left: 0;
}

header .show-items {
    display: none;
    cursor: pointer;
}

header .show-items span {
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    margin-top: 3px;
    background-color: #000;
}

/* Notifications */

.notifications-button {
    display: flex;
    cursor: pointer;
    position: relative;
}

.notifications-button.num::before {
    content: attr(num);
    position: absolute;
    top: -5px;
    right: 0;
    background-color: #e22;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 14px;
    text-align: center;
}

.notifications {
    position: fixed;
    top: 65px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ddd9;
    backdrop-filter: blur(8px);
    display: none;
    box-shadow: 0 0 10px #0005;
    z-index: calc(var(--back-box-z-index) + 1);
}

.notifications.active {
    display: block;
    animation: show-notif .3s ease 0s;
}

.notifications.inactive {
    display: none;
    animation: hide-notif .3s ease 0s;
}

.notifications .notif {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    position: relative;
    margin-top: 5px;
}

.notifications .notif:hover {
    background-color: #ddd6;
}

.notifications .notif.new {
    background-color: #ddd6;
}

.notifications .notif.new::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 5px;
    height: 5px;
    background-color: var(--secondary-background);
    border-radius: 50%;
}

.empty-notif img {
    display: block;
    margin: 5px auto;
}

.empty-notif h2, .empty-notif p {
    padding: 5px 10px;
    color: #333e;
    text-align: center;
}

@keyframes show-notif {
    0% {
        display: block;
        transform: scale(0.7);
        opacity: 0%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }   
}

@keyframes hide-notif {
    0% {
        display: block;
        transform: scale(1);
        opacity: 100%;
    }
    100% {
        transform: scale(0.7);
        opacity: 0%;
    }   
}

@media screen and (max-width: 750px) {
    header .show-items {
        display: block;
    }

    nav {
        position: fixed;
        right: 10px;
        top: 70px;
        width: max-content;
        display: none;
        background-color: var(--primary-bgo);
        box-shadow: 0 0px 10px var(--secondary-bgo);
        backdrop-filter: blur(10px);
        overflow: hidden;
        opacity: 0;
        transition: all .3s ease 0s;
        animation: hide-nav .3s ease 0s;
    }

    nav ul{
        display: grid;
        padding: 10px 30px;
        justify-content: start;
        justify-items: center;
    }

    nav ul li {
        padding-top: 15px !important;
    }
    
    nav.active {
        display: block;
        opacity: 100%;
        height: max-content;
        animation: show-nav .3s ease 0s;
    }
}

@keyframes show-nav {
    0% {
        display: block;
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hide-nav {
    0% {
        display: block;
        transform: scale(1);
    }
    99% {
        transform: scale(0);
    }
    100% {
        display: none;
    }
}