body {
    padding-top: 80px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    background-color: #eee7;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 20px #0005;
    z-index: 5;
}

nav li, nav a, .buttons button {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}


.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--secondary-background);
    transition: all .3s ease 0s;
}

.nav-links li a:hover::before, .nav-links li.select a::before {
    width: 75%;
}


.nav-links li a {
    transition: all .3s ease 0s;
}

.nav-links li a:hover, .nav-links li.select a {
    color: var(--secondary-background);
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    margin: 0 10px;
}

header .buttons input {
    outline: none;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--dark-bg3);
    width: 150px;
    margin-left: calc(40vh - 150px);
    transition: all .3s;
}

header .buttons input:hover, header .buttons input:focus {
    background-color: var(--dark-bg2);
}

header .buttons input:focus {
    width: 40vh;
    margin-left: 0;
}

header .show-items {
    display: none;
    cursor: pointer;
}

header .show-items span {
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    margin-top: 3px;
    background-color: #000;
}


@media screen and (max-width: 750px) {
    header .show-items {
        display: block;
    }

    nav {
        position: fixed;
        right: 10px;
        top: 70px;
        width: max-content;
        display: none;
        background-color: var(--primary-bgo);
        box-shadow: 0 0px 10px var(--secondary-bgo);
        backdrop-filter: blur(10px);
        overflow: hidden;
        opacity: 0;
        transition: all .3s ease 0s;
        animation: hide-nav .3s ease 0s;
    }

    nav ul{
        display: grid;
        padding: 10px 30px;
        justify-content: start;
        justify-items: center;
    }

    nav ul li {
        padding-top: 15px !important;
    }
    
    nav.active {
        display: block;
        opacity: 100%;
        height: max-content;
        animation: show-nav .3s ease 0s;
    }
}

@keyframes show-nav {
    0% {
        display: block;
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hide-nav {
    0% {
        display: block;
        transform: scale(1);
    }
    99% {
        transform: scale(0);
    }
    100% {
        display: none;
    }
}